// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/38/totem.h"
#include "../miryoku/miryoku.dtsi"

/ {
  combos {
    compatible = "zmk,combos";

    BASE {
      bindings = <&kp LBKT>;
      key - positions = <6 7>;
    };

    BASE {
      bindings = <&kp RBKT>;
      key - positions = <7 8>;
    };

    BASE {
      bindings = <&kp SEMI>;
      key - positions = <26 27>;
    };

    BASE {
      bindings = <&kp BSLH>;
      key - positions = <27 28>;
    };

    EXTRA {
      bindings = <&kp LBKT>;
      key - positions = <6 7>;
    };

    EXTRA {
      bindings = <&kp RBKT>;
      key - positions = <7 8>;
    };

    EXTRA {
      bindings = <&kp SEMI>;
      key - positions = <26 27>;
    };

    EXTRA {
      bindings = <&kp BSLH>;
      key - positions = <27 28>;
    };
  };
};
